name: circle_packing
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - pip
  - numpy
  - scipy
  - matplotlib
  - pytorch
  - pip:
    - gymnasium
    - stable-baselines3